node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
out/
.shadow-cljs/
.nrepl-port
pom.xml
.idea/
*.iml
app
.cpcache
/web-build
.calva/output-window/
.DS_Store

.lsp/.cache
.clj-kondo/.cache
.lsp/sqlite.db
