; This file is not used by the default `shadow-cljs.end` config.
; But in a real project, you probably want to use deps.
; Do so by enabling the `:deps` config in `shadow-cljs.edn`.
{:paths ["src/main"
         "src/test"]

 :deps {reagent {:mvn/version "1.0.0-alpha2"}
        re-frame {:mvn/version "1.1.2"}
        thheller/shadow-cljs {:mvn/version "2.11.8"}}

 :aliases {:dev {:extra-paths ["src/test" "src/dev"]}}}
